#modal-1.modal.unvisible 
  form(type='submit').modal__window
    h2.title-reset.modal__title Узнайте цену сразу
    p.margin-reset.modal__descr Оставьте заявку&#160;&#8212; мы&#160;сообщим предварительную цену сразу по&#160;телефону и&#160;запишем вас на&#160;бесплатный замер, чтобы рассчитать точную стоимость окон с&#160;установкой
    .modal__labinp 
      label(for="name").modal__label  Имя #[span.modal__error.modal__error_name.modal__error_show Не может содержать цифры и спецсимволы]
      input(type="text" id='name' name='name' placeholder='Введите ваше имя').modal__input
    .modal__labinp 
      label(for="number").modal__label Телефон #[span.modal__error.modal__error_number.modal__error_show Может содержать только цифры]
      input(type="text" id='number' name='number' placeholder='Введите ваш телефон').modal__input
    +btn-primary('modal', 'submit', 'ХОЧУ УВИДЕТЬ')
    p.margin-reset.modal__text Нажимая на&#160;кнопку, я&#160;даю своё согласие на&#160;обработку персональных данных
    button(type='button').btn-reset.modal__closer 
      span.modal__closercap Закрыть
      +svg('close', 'modal')
