#luzhniki-modal.modal__window.luzhniki
  .luzhniki__container
    img(src="../img/modal/luzhniki.webp", alt="Лужники").luzhniki__mainimg
    .luzhniki__content 
      h2.title-reset.luzhniki__title МСК Лужники
      p.margin-reset.luzhniki__capture г. Москва
      ul.list-reset.luzhniki__list 
        li.luzhniki__item
          .luzhniki__square
          p.luzhniki__descr.margin-reset Фасадная система СИАЛ КП-50
        li.luzhniki__item 
          .luzhniki__square
          p.luzhniki__descr.margin-reset Архитектурное стекло AGC
        li.luzhniki__item 
          .luzhniki__square
          p.luzhniki__descr.margin-reset Площадь остекления&#160;&#8212; 2100&#160;кв.&#160;м.
      img(src="../img/portfolio/pf-gosobj-luzh-1920.webp" alt="Лужники-2").luzhniki__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')
      