section.hero
  .hero__container.container 
    ul.list-reset.hero__list 
      li.hero__item 
        +svg('widget','hero' )
        span.hero__capture ОКНА
      li.hero__item 
        +svg('widget','hero' )
        span.hero__capture ДВЕРИ
      li.hero__item 
        +svg('widget','hero' )
        span.hero__capture РАЗДВИЖНЫЕ СИСТЕМЫ
      li.hero__item 
        +svg('widget','hero' )
        span.hero__capture ФАСАДНОЕ ОСТЕКЛЕНЕНИЕ 
    h1.title-reset.hero__title ПО&nbsp;ВСЕЙ РОССИИ
    p.margin-reset.hero__descr на&nbsp;рынке корпоративного остекления с&nbsp;2002 года
    +btn-primary('hero')