section#products-section.products 
  .products__container.container 
    h2.title-reset.products__title НАША ПРОДУКЦИЯ
    ul.list-reset.products__grid 
      li.products__cell 
        img(src="../img/products/products-alum-1920.webp", alt="Алюминиевые витражи").products__img
        h3.title-reset.products__name Алюминиевые витражи
        p.margin-reset.products__descr Витражное остекление позволяет реализовать самые смелые идеи архитекторов за&#160;счет использования алюминия. Алюминиевые конструкции витражей обладают высокой звукоизоляцией, пожаростройкостью, прочностью, легкостью и&#160;красотой. Остекление фасадом на&#160;максимально возможной площади придает любому помещению воздушность и&#160;изящество, впускает в&#160;него больше света.
        +btn-secondary('products')
      li.products__cell 
        img(src="../img/products/products-struc-1920.webp", alt="Структурное остекление фасадов").products__img
        h3.title-reset.products__name Структурное остекление фасадов
        p.margin-reset.products__descr.products__descr_first Это новейшая технология крепления стеклопакетов, которая позволяет создать единую поверхность из&#160;стекла, без каких-либо видимых прижимных элементов. 
        p.margin-reset.products__descr Благодаря структурному остеклению стирается грань ограждающей конструкции, что позволяет проникать внутрь большому количеству солнечного света.
        +btn-secondary('products')
      li.products__cell 
        img(src="../img/products/products-light-1920.webp", alt="Зенитные фонари").products__img
        h3.title-reset.products__name Зенитные фонари
        p.margin-reset.products__descr Зенитные фонари служат нескольким целям: для освещения и&#160;вентиляции помещения, либо для выхода на&#160;крышу здания. В&#160;зависимости от&#160;целей подбирается подходящая конструкция зенитного фонаря. Глухой зенитный фонарь используется для освещения пространства под кровлей. Открываемый зенитный фонарь не&#160;только освещает помещение, но&#160;и&#160;предоставляет возможность для его проветривания, либо для доступа на&#160;крышу здания.
        +btn-secondary('products')
      li.products__cell 
        img(src="../img/products/products-doors-1920.webp", alt="Алюминиевые двери и входные группы").products__img
        h3.title-reset.products__name Алюминиевые двери и&#160;входные группы
        p.margin-reset.products__descr.products__descr_first Входная группа&#160;&#8212; это визитная карточка любого офиса, магазина, ресторана или кафе.
        p.margin-reset.products__descr Если вы&#160;хотите, чтобы ваши посетители снова возвращались к&#160;вам, уделите пристальное внимание внешнему виду входной группы.
        +btn-secondary('products')
      li.products__cell 
        img(src="../img/products/products-system-1920.webp", alt="Раздвижные системы").products__img
        h3.title-reset.products__name Раздвижные системы
        p.margin-reset.products__descr Светопрозрачные фасадные конструкции и&#160;раздвижные двери воплощают в&#160;себе новый современный стиль&#160;&#8212; минимализм, который предлагает дизайнерам и&#160;пользователям больше возможностей, чем когда-либо. Большие стеклянные элементы и&#160;минимальная ширина переплетов так&#160;же важны в&#160;раздвижных конструкциях, как и&#160;лаконичный дизайн. Технологии и&#160;дизайн системы отвечают всем требованиям, предъявляемым в&#160;объектном и&#160;частном жилом строительстве.
        +btn-secondary('products')
      li.products__cell 
        img(src="../img/products/products-windows-1920.webp", alt="Окна и двери ПВХ").products__img
        h3.title-reset.products__name Окна и двери&#160;ПВХ
        p.margin-reset.products__descr Пластиковые изделия хорошо защищают помещение от&#160;лишнего внешнего шума, влаги и&#160;пыли, выдерживают даже самые сильные перепады температур&#160;&#8212; от&#160;сильной жары до&#160;суровых морозов. Возможность дополнения изделий, архитектурными стеклами, ламинирование профиля или покраска в&#160;любой цвета по&#160;каталогу RAL делают Ваши изделия эксклюзивными.
        +btn-secondary('products')