section#portfolio-section.portfolio
  .portfolio__container.container 
    h2.title-reset.portfolio__title ПОРТФОЛИО
    .portfolio__gosobj.gosobj
      .gosobj__head
        h3.title-reset.gosobj__title Государственные объекты
      .gosobj__body 
          ul.list-reset.gosobj__grid 
            li.gosobj__cell
              img(src="../img/portfolio/pf-gosobj-tret-1920.webp", alt="Третьяковская Галерея").gosobj__img
              .gosobj__block
                h4.title-reset.gosobj__name Третьяковская Галерея
                p.margin-reset.gosobj__descr г. Калининград
            li.gosobj__cell
              img(src="../img/portfolio/pf-gosobj-cadet-1920.webp", alt="Кадетский Корпус").gosobj__img
              .gosobj__block
                h4.title-reset.gosobj__name Кадетский Корпус
                p.margin-reset.gosobj__descr г. Омск
            li#luzhniki-cell.gosobj__cell
              img(src="../img/portfolio/pf-gosobj-luzh-1920.webp", alt="МСК Лужники").gosobj__img
              .gosobj__block
                h4.title-reset.gosobj__name МСК Лужники
                p.margin-reset.gosobj__descr г. Москва
            li.gosobj__cell
              img(src="../img/portfolio/pf-gosobj-tran-1920.webp", alt="АО Транснефть").gosobj__img
              .gosobj__block
                h4.title-reset.gosobj__name АО Транснефть
                p.margin-reset.gosobj__descr г. Омск
    .portfolio__comobj.comobj.accordion
      .comobj__head
        h3.title-reset.comobj__title Коммерческие объекты
        button.btn-reset.comobj__btn.accordion__btn
          span.accordion__capture Развернуть
          +svg('arrow-short', 'accordion')
      .comobj__body.accordion__body.accordion__body_collapsed 
        ul.list-reset.comobj__grid 
          li.comobj__cell
            img(src="../img/portfolio/pf-comobj-bc-1920.webp", alt="БЦ, Фрунзе, 47").comobj__img
            .comobj__block
              h4.title-reset.comobj__name БЦ, Фрунзе, 47
              p.margin-reset.comobj__descr г. Омск
          li.comobj__cell
            img(src="../img/portfolio/pf-comobj-met-1920.webp", alt="Метромолл").comobj__img
            .comobj__block
              h4.title-reset.comobj__name Кадетский Корпус
              p.margin-reset.comobj__descr г. Омск
          li.comobj__cell
            img(src="../img/portfolio/pf-comobj-hotel-1920.webp", alt="Гостиница «Космос»").comobj__img
            .comobj__block
              h4.title-reset.comobj__name Гостиница «Космос»
              p.margin-reset.comobj__descr г. Омск
          li.comobj__cell
            img(src="../img/portfolio/pf-comobj-bc38-1920.webp", alt="БЦ Фрунзе, 38").comobj__img
            .comobj__block
              h4.title-reset.comobj__name БЦ Фрунзе, 38
              p.margin-reset.comobj__descr г. Омск
          li.comobj__cell
            img(src="../img/portfolio/pf-comobj-tk22-1920.webp", alt="ТК 22 декабря").comobj__img
            .comobj__block
              h4.title-reset.comobj__name ТК 22 декабря
              p.margin-reset.comobj__descr г. Калининград
          li.comobj__cell
            img(src="../img/portfolio/pf-comobj-tkok-1920.webp", alt="ТК «Окей»").comobj__img
            .comobj__block
              h4.title-reset.comobj__name ТК «Окей»
              p.margin-reset.comobj__descr г. Омск
          li.comobj__cell
            img(src="../img/portfolio/pf-comobj-kfc-1920.webp", alt="Сеть ресторанов КФС").comobj__img
            .comobj__block
              h4.title-reset.comobj__name Сеть ресторанов КФС
              p.margin-reset.comobj__descr г. Москва
          li.comobj__cell
            img(src="../img/portfolio/pf-comobj-mag-1920.webp", alt="Гипермаркет «Магнит»").comobj__img
            .comobj__block
              h4.title-reset.comobj__name Гипермаркет «Магнит»
              p.margin-reset.comobj__descr г. Омск
    .portfolio__liveobj.liveobj.accordion
      .liveobj__head
        h3.title-reset.liveobj__title Жилые комплексы
        button.btn-reset.liveobj__btn.accordion__btn
          span.accordion__capture Развернуть
          +svg('arrow-short', 'accordion')
      .liveobj__body.accordion__body.accordion__body_collapsed 
        ul.list-reset.liveobj__grid 
          li.liveobj__cell
            img(src="../img/portfolio/pf-liveobj-univ-1920.webp", alt="ЖК “Университетский”").liveobj__img
            .liveobj__block
              h4.title-reset.liveobj__name ЖК “Университетский”
              p.margin-reset.liveobj__descr г. Екатеринбург
          li.liveobj__cell
            img(src="../img/portfolio/pf-liveobj-duck-1920.webp", alt="ЖК “Утиная гора”").liveobj__img
            .liveobj__block
              h4.title-reset.liveobj__name ЖК “Утиная гора”
              p.margin-reset.liveobj__descr г. Омск
          li.liveobj__cell
            img(src="../img/portfolio/pf-liveobj-h4-1920.webp", alt="Дом на 4-й Северной").liveobj__img
            .liveobj__block
              h4.title-reset.liveobj__name Дом на 4-й Северной
              p.margin-reset.liveobj__descr г. Омск
          li.liveobj__cell
            img(src="../img/portfolio/pf-liveobj-tundra-1920.webp", alt="ЖК “Тундровый”").liveobj__img
            .liveobj__block
              h4.title-reset.liveobj__name ЖК “Тундровый”
              p.margin-reset.liveobj__descr г. Новый Уренгой
          li.liveobj__cell
            img(src="../img/portfolio/pf-liveobj-th-1920.webp", alt="Таунхаусы").liveobj__img
            .liveobj__block
              h4.title-reset.liveobj__name Таунхаусы
              p.margin-reset.liveobj__descr г. Омск
    .portfolio__curobj.curobj
      .curobj__head
        h3.title-reset.curobj__title Коммерческие объекты
      .curobj__body 
        ul.list-reset.curobj__grid 
          li.curobj__cell
            img(src="../img/portfolio/pf-curobj-gi-1920.webp", alt="ЖК “Зеленый остров”").curobj__img
            .curobj__block
              h4.title-reset.curobj__name ЖК “Зеленый остров”
              p.margin-reset.curobj__descr г. Новый Уренгой
          li.curobj__cell
            img(src="../img/portfolio/pf-curobj-brus-1920.webp", alt="Брусника - Кварталы Драверта").curobj__img
            .curobj__block
              h4.title-reset.curobj__name Брусника&#160;&#8212; Кварталы Драверта
              p.margin-reset.curobj__descr г. Омск
    button.btn-reset.portfolio__btn.showmore
      span.showmore__capture Посмотреть другие объекты
      +svg('arrow','showmore')
