section#manufacture-section.manufacture
  .manufacture__container.container 
    h2.title-reset.manufacture__title НАШЕ ПРОИЗВОДСТВО
    p.margin-reset.manufacture__descr На&#160;заказ изготавливаются окна и&#160;двери ПВХ в&#160;Омске, а&#160;так&#160;же алюминиевые конструкции согласно техническому заданию, на&#160;базе профильных систем Krauss с&#160;современной фурнитурой Европейского производства и&#160;стеклопакетами заданной камерности и&#160;функциональности
    ul.list-reset.manufacture__grid  
      li.manufacture__cell.manufacture__cell_main 
      li.manufacture__cell
        img(src="../img/manufacture/mn-1-1920.webp", alt="manufacture-1" data-number='1').manufacture__img
      li.manufacture__cell
        img(src="../img/manufacture/mn-2-1920.webp", alt="manufacture-2" data-number='2').manufacture__img
      li.manufacture__cell
        img(src="../img/manufacture/mn-3-1920.webp", alt="manufacture-3" data-number='3').manufacture__img
      li.manufacture__cell
        img(src="../img/manufacture/mn-4-1920.webp", alt="manufacture-4" data-number='4').manufacture__img
      li.manufacture__cell
        img(src="../img/manufacture/mn-5-1920.webp", alt="manufacture-5" data-number='5').manufacture__img
    .swiper-container 
      .swiper-wrapper   
        img(src="../img/manufacture/mn-1-1920.webp", alt="manufacture-1" data-number='1').manufacture__img.swiper-slide
        img(src="../img/manufacture/mn-2-1920.webp", alt="manufacture-2" data-number='2').manufacture__img.swiper-slide
        img(src="../img/manufacture/mn-3-1920.webp", alt="manufacture-3" data-number='3').manufacture__img.swiper-slide
        img(src="../img/manufacture/mn-4-1920.webp", alt="manufacture-4" data-number='4').manufacture__img.swiper-slide
        img(src="../img/manufacture/mn-5-1920.webp", alt="manufacture-5" data-number='5').manufacture__img.swiper-slide

