section#manufacture-section.manufacture
  .manufacture__container.container 
    h2.title-reset.manufacture__title НАШЕ ПРОИЗВОДСТВО
    p.margin-reset.manufacture__descr На&#160;заказ изготавливаются окна и&#160;двери ПВХ в&#160;Омске, а&#160;так&#160;же алюминиевые конструкции согласно техническому заданию, на&#160;базе профильных систем Krauss с&#160;современной фурнитурой Европейского производства и&#160;стеклопакетами заданной камерности и&#160;функциональности
    ul.list-reset.manufacture__grid    
      li.manufacture__cell
        img(src="../img/manufacture/mn-1-1920.webp", alt="").manufacture__img.manufacture__img_first
      li.manufacture__cell
        img(src="../img/manufacture/mn-2-1920.webp", alt="").manufacture__img
      li.manufacture__cell
        img(src="../img/manufacture/mn-1-1920.webp", alt="").manufacture__img
      li.manufacture__cell
        img(src="../img/manufacture/mn-3-1920.webp", alt="").manufacture__img
      li.manufacture__cell
        img(src="../img/manufacture/mn-4-1920.webp", alt="").manufacture__img
      li.manufacture__cell
        img(src="../img/manufacture/mn-5-1920.webp", alt="").manufacture__img
