section#about-us-section.about-us
  .about-us__container.container 
    h2.title-reset.about-us__title О НАС
    ul.list-reset.about-us__list 
      li.about-us__item
        .about-us__square
        p.about-us__descr.margin-reset ООО &#171;Новое окно&#187;&#160;&#8212; компания, имеющая собственный комплекс современных производств площадью более 5000&#160;кв.&#160;м. Успешно работает на&#160;российском рынке с&#160;2002&#160;года, являясь одной из&#160;ведущих компаний в&#160;сфере производства и&#160;монтажа светопрозрачных конструкций любой сложности.
      li.about-us__item 
        .about-us__square
        p.about-us__descr.margin-reset Мы&#160;стремимся предложить нашим клиентам широкий выбор качественных и&#160;современных продуктов, которые отвечают самым высоким стандартам качества и&#160;безопасности.
      li.about-us__item 
        .about-us__square
        p.about-us__descr.margin-reset Для нас важно, чтобы наши клиенты становились нашими постоянными партнерами. 
    h3.title-reset.about-us__subtitle Сертифицированный переработчик профильных систем:
    ul.list-reset.about-us__list-2 
      li.about-us__item-2 
        +svg('gealan','about-us')
      li.about-us__item-2 
        img(src="../img/about-us/2.webp", alt="alutech").about-us__img
      li.about-us__item-2 
        img(src="../img/about-us/3.webp", alt="krauss").about-us__img
      li.about-us__item-2 
        +svg('schuco','about-us')
    h3.title-reset.about-us__subtitle География проектов
    +svg('map', 'about-us')