section#advantages-section.advantages
  .advantages__container.container 
    h2.title-reset.advantages__title НАШИ ПРЕИМУЩЕСТВА
    ul.list-reset.advantages__grid 
      li.advantages__cell 
        +svg('project','advantages')
        span.advantages__capture  Проектирование
        p.margin-reset.advantages__descr Конструкторский отдел нашей компании разработает концепцию будущего проекта с&#160;учетом современных архитектурных решений и&#160;гостов, а&#160;так&#160;же воплотит в&#160;жизнь самые сложные конструктивные решения. Грамотный проект позволит заказчику избежать ошибок и&#160;лишних расходов на&#160;этапе монтажа и&#160;согласований
      li.advantages__cell 
        +svg('own-manifactur','advantages')
        span.advantages__capture  Собственное производство
        p.margin-reset.advantages__descr На&#160;площади 4000&#160;кв.&#160;м. развернута собственная производственная база компании &#171;Новое окно&#187; с&#160;производственными линиями, способными обеспечить производство большого количество продукции различной сложности в&#160;короткие сроки на&#160;высоком уровне
      li.advantages__cell 
        +svg('profrepair','advantages')
        span.advantages__capture  Профессиональный монтаж
        p.margin-reset.advantages__descr Наша команда специалистов обладает высоким профессионализмом в&#160;монтаже конструкций различной сложности, рабочие бригады оснащены и&#160;укомплектованы строительными лесами, подъемным оборудованием, захватами для крупногабаритных стеклопакетов
      li.advantages__cell 
        +svg('delivery2','advantages')
        span.advantages__capture  Служба доставки
        p.margin-reset.advantages__descr Наличие специализированных транспортных средств позволяет оперативно и&#160;безопасно производить доставку до&#160;вашего объекта расположенного в&#160;любой точке нашей России, а&#160;также в&#160;странах Таможенного союза
      li.advantages__cell 
        +svg('garant','advantages')
        span.advantages__capture  Гарантии на продукцию
        p.margin-reset.advantages__descr Компания &#171;Новое окно&#187; уверена в&#160;качестве используемых материалов и&#160;в&#160;своей продукции, что подтверждается сертификатами соответствия и&#160;поэтому мы&#160;предоставляем гарантию на&#160;все виды выпускаемых продуктов собственного производства и&#160;монтажных работ
      li.advantages__cell 
        +svg('maintance','advantages')
        span.advantages__capture  Обеспечение материалами и&#160;складское хранение
        p.margin-reset.advantages__descr Прямые поставки материалов и&#160;комплектующих от&#160;завода производителя, а&#160;также наличие складского хранения материалов позволяет бесперебойно и&#160;в&#160;срок изготовить качественную продукцию, отвечающую всем стандартам качества ГОСТ
        