section#advantages-section.advantages
  .advantages__container.container 
    h2.title-reset.advantages__title НАШИ ПРЕИМУЩЕСТВА
    ul.list-reset.advantages__grid 
      li.advantages__cell 
        +svg('project','advantages')
        span.advantages__capture  Проектирование
      li.advantages__cell 
        +svg('own-manifactur','advantages')
        span.advantages__capture  Собственное производство
      li.advantages__cell 
        +svg('profrepair','advantages')
        span.advantages__capture  Профессиональный монтаж
      li.advantages__cell 
        +svg('delivery','advantages')
        span.advantages__capture  Служба доставки
      li.advantages__cell 
        +svg('garant','advantages')
        span.advantages__capture  Гарантии на продукцию
      li.advantages__cell 
        +svg('maintance','advantages')
        span.advantages__capture  Обеспечение материалами и&#160;складское хранение