footer#footer-section.footer 
  .footer__container.container
    .footer__block-1 
      +svg('logo-2', 'footer')
      small.footer__small &#169;&#160;2005&#160;&#8212; 2019 Компания &#171;Новое окно&#187;
      a(href="#").link-reset.footer__link Политика конфиденциальности
    .footer__block-2 
      span.footer__capture ИНН 5506047669&#160;| ОГРН 1025501258089
    .footer__block-3 
      +svg('media', 'footer')
      small.footer__small-2 &#169;&#160;2008&#8211;2024 &#171;Media Group&#187;&#160;&#8212; разработка сайтов, внедрение CRM и&#160;автоматизация бизнеса.