.privpol {
  &__container {
    padding: 50px;

    max-width: 576px;
    max-height: 60vh;
    overflow-y: scroll;

    display: flex;
    flex-direction: column;

    gap: 15px;
  }

  &__title {
    font-weight: 700;

    margin-bottom: 0;
  }

  &__subtitle {
    margin-bottom: 0;

    font-size: 18px;
    font-weight: 700;
  }
}

@media (max-width: 576px) {
  .privpol {
    &__container {
      max-width: 100%;
    }

    &__title {
      font-weight: 700;
      font-size: 20px;
      line-height: 20px;
  
      margin-bottom: 0;
    }
  
    &__subtitle {
      margin-bottom: 0;
  
      font-size: 18px;
      line-height: 18px;

      font-weight: 700;
    }
  }
}
