.modal {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 100%;
  min-height: 100%;

  background-color: #423e3ecc;

  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
    transform 0.3s ease-in-out;

  &__window {
    position: relative;

    display: flex;
    flex-direction: column;

    padding: 40px;

    max-width: 423px;

    background-color: $white;

    opacity: 0;
    visibility: hidden;

    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.35);

    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
      transform 0.3s ease-in-out;

    transform: translateY(-150%);

    &_active {
      transform: translateY(0);

      opacity: 1;
      visibility: visible;
    }
  }

  &__title {
    margin-bottom: 12px;

    color: $grey-dark;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
  }

  &__descr {
    color: $grey-dark;
    font-size: 14px;
    line-height: 17px;

    margin-bottom: 25px;
  }

  &__labinp {
    display: flex;
    flex-direction: column;

    row-gap: 3px;

    margin-bottom: 13px;

    &:last-of-type {
      margin-bottom: 40px;
    }

    &_success {
      .modal__label {
        color: $success;
      }

      .modal__input {
        border-bottom: 1px solid $success;
      }
    }

    &_error {
      .modal__label {
        color: $active;
      }

      .modal__input {
        border-bottom: 1px solid $active;
      }

      .modal__error {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__label {
    margin-bottom: 3px;

    color: $grey-dark;
    font-size: 10px;

    line-height: 12px;

    transition: color 0.3s ease-in-out;
  }

  &__input {
    padding: 0;
    border: none;
    outline: none;

    padding-bottom: 11px;
    border-bottom: 1px solid $grey;

    color: $grey-dark;

    transition: border-bottom-color 0.3s ease-in-out;

    &,
    &::placeholder {
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
    }
  }

  &__btn {
    margin-bottom: 20px;
  }

  &__text {
    font-size: 12px;
    line-height: 15px;
  }

  &__closer {
    position: absolute;
    right: 16px;
    top: 20px;

    display: flex;
    align-items: center;
    column-gap: 4px;

    &:hover {
      span {
        color: $primary;
      }

      svg {
        fill: $primary;
      }
    }
  }

  &__closercap {
    color: $grey-light;
    font-size: 12px;
    font-weight: 400;
    line-height: 15px;

    transition: color 0.3s ease-in-out;
  }

  &__svg {
    width: 16px;
    height: 16px;

    fill: $grey-light;

    transition: fill 0.3s ease-in-out;
  }

  &__error {
    opacity: 0;
    visibility: hidden;

    margin-left: 10px;

    color: $active;

    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out,
      transform 0.3s ease-in-out;
  }
}
