.advantages {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    width: 100%;
    height: 100%;

    background: linear-gradient(
        90deg,
        rgba(245, 245, 245, 0),
        rgb(245, 245, 245) 20%,
        rgb(245, 245, 245) 50%,
        rgb(245, 245, 245) 80%,
        rgba(245, 245, 245, 0) 100%
      ),
      url("../img/advantages/background.webp"), rgb(245, 245, 245);

    background-size: cover;

    filter: grayscale(100%) opacity(70%);
    background-attachment: fixed;
  }

  &__grid {
    display: grid;

    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    gap: 40px;
  }

  &__cell {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__capture {
    font-weight: 700;
    line-height: 20px;
  }

  &__descr {
    display: none;
  }

  &__svg {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 576px) {
  .advantages {
    &::before {
      background: $grey-new;
      filter: none;
    }

    &__grid {
      grid-template: auto / 1fr;

      grid-template-areas: "cell-2";
    }

    &__cell {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      row-gap: 10px;
    }

    &__descr {
      display: block;
    }
  }
}
