.contacts {
  position: relative;

  &__container {
    height: 519px;
  }

  &__block {
    position: absolute;
    top: 100px;
    z-index: 1;

    padding: 40px;

    width: 545px;

    background-color: $white;
    border-left: 2px solid $primary;
  }

  &__grid {
    display: grid;

    grid-template: auto / 148px 277px;

    row-gap: 16px;
    column-gap: 40px;
  }

  &__cell {
    display: flex;
    flex-direction: column;

    row-gap: 8px;
  }

  &__capture {
    font-size: 14px;
    line-height: 17px;
  }

  &__link,
  &__addr {
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
  }

  &__svg {
    width: 24px;
    height: 24px;
  }
}

.map {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 576px) {
  .contacts {
    position: static;

    border-left: 2px solid $primary;

    &__container {
      height: initial;
    }

    &__block {
      position: static;
      padding: 0;

      width: 100%;
      height: 100%;

      border-left: none;
    }

    &__grid {
      grid-template: auto / 1fr;
    }

    &__cell:nth-child(1) {
      order: -2;
    }

    &__cell:nth-child(3) {
      order: -1;

      margin-bottom: 24px;
    }
  }

  .map {
    position: static;
    margin-left: -2px;

    width: calc(100% + 2px);
    height: 338px;
  }
}
