.footer {
  color: $white;
  background-color: #423e3e;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 40px;
  }

  &__block-1 {
    display: flex;
    flex-direction: column;

    font-size: 12px;
    line-height: 15px;
  }

  &__logo-2 {
    margin-bottom: 20px;

    width: 161px;
    height: 39px;
  }

  &__small {
    margin-bottom: 8px;

    font-size: 12px;
    line-height: 15px;
  }

  &__link {
    text-decoration: underline;
  }

  &__capture {
    line-height: 20px;
  }

  &__block-3 {
    display: flex;
    align-items: center;
    gap: 12px;

    width: 280px;
  }

  &__media {
    width: 73px;
    height: 37.17px;
  }

  &__small-2 {
    color: $grey-black;
    font-family: Exo 2;
    font-size: 11px;
    line-height: 13px;
  }
}

@media (max-width: 576px) {
  .footer {
    // text-align: center;

    &__container {
      flex-direction: column;
      align-items: center;
    }

    &__block-1 {
      align-items: center;
    }
  }
}
