.container {
  max-width: 1134px;

  margin: 0 auto;
  padding: 100px 12px;
}

@media (max-width: 1304px) {
  .container {
    max-width: 976px;
  }
}

@media (max-width: 931px) {
  .container {
    max-width: 648px;
  }
}

@media (max-width: 500px) {
  .container {
    max-width: 450px;
  }
}
