html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;

  transition: padding 0.3s ease-in-out, width 0.3s ease-in-out,
    height 0.3s ease-in-out, gap 0.3s ease-in-out;
}

body {
  font: 400 16px / 24px "Montserrat", sans-serif;
  color: $black;

  background-color: $white;
}

svg {
  flex-shrink: 0;
  transition: fill 0.3s ease-in-out, stroke 0.3s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.img-reset {
  display: block;

  flex-shrink: 0;

  width: 100%;
  height: 100%;

  object-fit: cover;
}

.title-reset {
  margin: 0;
  margin-bottom: 40px;

  font-size: 32px;
  font-weight: 500;
  line-height: 39.01px;
}

.btn-reset {
  background-color: transparent;

  border: none;
  cursor: pointer;

  padding: 0;

  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.link-reset {
  color: inherit;
  text-decoration: none;

  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;

  &:hover,
  &:focus {
    color: $grey;
  }
  &:active {
    color: $primary;
  }
}

.margin-reset {
  margin: 0;
  padding: 0;
}

.list-reset {
  list-style: none;

  margin: 0;
  padding: 0;
}
