#privpol.modal__window.privpol
  .privpol__container 
    h2.title-reset.privpol__title ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ
    p.margin-reset.privpol__text Соблюдение Вашей конфиденциальности важно для нас. По&nbsp;этой причине, мы&nbsp;разработали Политику Конфиденциальности, которая описывает, как мы&nbsp;используем и&nbsp;храним Вашу информацию. Пожалуйста, ознакомьтесь с&nbsp;нашими правилами соблюдения конфиденциальности и&nbsp;сообщите нам, если у&nbsp;вас возникнут какие-либо вопросы.
    h3.title-reset.privpol__subtitle Сбор и&nbsp;использование персональной информации
    p.margin-reset.privpol__text Под персональной информацией понимаются данные, которые могут быть использованы для идентификации определенного лица либо связи с&nbsp;ним.
    p.margin-reset.privpol__text От&nbsp;вас может быть запрошено предоставление вашей персональной информации в&nbsp;любой момент, когда вы&nbsp;связываетесь с&nbsp;нами.
    p.margin-reset.privpol__text Ниже приведены некоторые примеры типов персональной информации, которую мы&nbsp;можем собирать, и&nbsp;как мы&nbsp;можем использовать такую информацию.
    h3.title-reset.privpol__subtitle Какую персональную информацию мы&nbsp;собираем:
    p.margin-reset.privpol__text Когда вы&nbsp;оставляете заявку на&nbsp;сайте, мы&nbsp;можем собирать различную информацию, включая ваши имя, номер телефона, адрес электронной почты и&nbsp;т.д.
    h3.title-reset.privpol__subtitle Как мы&nbsp;используем вашу персональную информацию:
    p.margin-reset.privpol__text Собираемая нами персональная информация позволяет нам связываться с&nbsp;вами и&nbsp;сообщать об&nbsp;уникальных предложениях, акциях и&nbsp;других мероприятиях и&nbsp;ближайших событиях.
    p.margin-reset.privpol__text Время от&nbsp;времени, мы&nbsp;можем использовать вашу персональную информацию для отправки важных уведомлений и&nbsp;сообщений.
    p.margin-reset.privpol__text Мы&nbsp;также можем использовать персональную информацию для внутренних целей, таких как проведения аудита, анализа данных и&nbsp;различных исследований в&nbsp;целях улучшения услуг предоставляемых нами и&nbsp;предоставления Вам рекомендаций относительно наших услуг.
    p.margin-reset.privpol__text Если вы&nbsp;принимаете участие в&nbsp;розыгрыше призов, конкурсе или сходном стимулирующем мероприятии, мы&nbsp;можем использовать предоставляемую вами информацию для управления такими программами.
    h3.title-reset.privpol__subtitle Раскрытие информации третьим лицам
    p.margin-reset.privpol__text Мы&nbsp;не&nbsp;раскрываем полученную от&nbsp;Вас информацию третьим лицам.
    h3.title-reset.privpol__subtitle Исключения:
    p.margin-reset.privpol__text В&nbsp;случае если необходимо&nbsp;&mdash; в&nbsp;соответствии с&nbsp;законом, судебным порядком, в&nbsp;судебном разбирательстве, и/или на&nbsp;основании публичных запросов или запросов от&nbsp;государственных органов на&nbsp;территории РФ&nbsp;&mdash; раскрыть вашу персональную информацию. Мы&nbsp;также можем раскрывать информацию о&nbsp;вас если мы&nbsp;определим, что такое раскрытие необходимо или уместно в&nbsp;целях безопасности, поддержания правопорядка, или иных общественно важных случаях.
    p.margin-reset.privpol__text В&nbsp;случае реорганизации, слияния или продажи мы&nbsp;можем передать собираемую нами персональную информацию соответствующему третьему лицу&nbsp;&mdash; правопреемнику.
    h3.title-reset.privpol__subtitle Защита персональной информации
    p.margin-reset.privpol__text Мы&nbsp;предпринимаем меры предосторожности&nbsp;&mdash; включая административные, технические и&nbsp;физические&nbsp;&mdash; для защиты вашей персональной информации от&nbsp;утраты, кражи, и&nbsp;недобросовестного использования, а&nbsp;также от&nbsp;несанкционированного доступа, раскрытия, изменения и&nbsp;уничтожения.
    h3.title-reset.privpol__subtitle Соблюдение вашей конфиденциальности на&nbsp;уровне компании
    p.margin-reset.privpol__text Для того чтобы убедиться, что ваша персональная информация находится в&nbsp;безопасности, мы&nbsp;доводим нормы соблюдения конфиденциальности и&nbsp;безопасности до&nbsp;наших сотрудников, и&nbsp;строго следим за&nbsp;исполнением мер соблюдения конфиденциальности.
    button(type='button').btn-reset.privpol__closer.closer 
      span.closer__capture Закрыть
      +svg('close', 'closer')