#tretyak-modal.modal__window.tretyak
  .tretyak__container
    img(src="../img/modal/tretyak.webp", alt="Лужники").tretyak__mainimg
    .tretyak__content 
      h2.title-reset.tretyak__title Третьяковская Галерея
      p.margin-reset.tretyak__capture г. Москва
      ul.list-reset.tretyak__list 
        li.tretyak__item
          .tretyak__square
          p.tretyak__descr.margin-reset Фасадная система Schuco FWS 50
        li.tretyak__item
          .tretyak__square
          p.tretyak__descr.margin-reset архитектурное стекло
        li.tretyak__item 
          .tretyak__square
          p.tretyak__descr.margin-reset АСС шелкография
        li.tretyak__item 
          .tretyak__square
          p.tretyak__descr.margin-reset Площадь остекления&nbsp;&mdash; 4400&nbsp;кв.м.
      img(src="../img/portfolio/pf-gosobj-tret-1920.webp" alt="Третьяк-2").tretyak__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')
      