#cadet-modal.modal__window.cadet
  .cadet__container
    img(src="../img/modal/cadet.webp", alt="Кадет").cadet__mainimg
    .cadet__content 
      h2.title-reset.cadet__title Кадетский корпус
      p.margin-reset.cadet__capture г. Омск
      ul.list-reset.cadet__list 
        li.cadet__item
          .cadet__square
          p.cadet__descr.margin-reset Фасадная система Krauss KRF-50
        li.cadet__item 
          .cadet__square
          p.cadet__descr.margin-reset архитектурное стекло Guardian
        li.cadet__item 
          .cadet__square
          p.cadet__descr.margin-reset  Площадь остекления&nbsp;&mdash; 4000&nbsp;кв.м.
      img(src="../img/portfolio/pf-gosobj-cadet-1920.webp" alt="Кадет-2").cadet__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')
      