#transnef-modal.modal__window.transnef
  .transnef__container
    img(src="../img/modal/transnef.webp", alt="Транснефть").transnef__mainimg
    .transnef__content 
      h2.title-reset.transnef__title АО Транснефть
      p.margin-reset.transnef__capture г. Омск
      ul.list-reset.transnef__list 
        li.transnef__item
          .transnef__square
          p.transnef__descr.margin-reset Фасадная система ALUTEC H ALT-50
        li.transnef__item
          .transnef__square
          p.transnef__descr.margin-reset архитектурное стекло Guardian
        li.transnef__item 
          .transnef__square
          p.transnef__descr.margin-reset  Площадь остекления&nbsp;&mdash; 1100&nbsp;кв.м.
      img(src="../img/portfolio/pf-gosobj-tran-1920.webp" alt="Транснефть").transnef__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')