#frunze-47-modal.modal__window.frunze-47
  .frunze-47__container
    img(src="../img/modal/frunze-47.webp", alt="Фрунзе-47").frunze-47__mainimg
    .frunze-47__content 
      h2.title-reset.frunze-47__title БЦ, Фрунзе, 47
      p.margin-reset.frunze-47__capture г. Омск
      ul.list-reset.frunze-47__list 
        li.frunze-47__item
          .frunze-47__square
          p.frunze-47__descr.margin-reset Фасадная система Krauss KRF-50
        li.frunze-47__item
          .frunze-47__square
          p.frunze-47__descr.margin-reset архитектурное стекло AGC
        li.frunze-47__item
          .frunze-47__square
          p.frunze-47__descr.margin-reset  Площадь остекления&nbsp;&mdash; 4000&nbsp;кв.м.
      img(src="../img/portfolio/pf-comobj-bc-1920.webp" alt="Фрунзе-47-2").frunze-47__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')