#metromall-modal.modal__window.metromall
  .metromall__container
    img(src="../img/modal/metromall.webp", alt="Метромолл").metromall__mainimg
    .metromall__content 
      h2.title-reset.metromall__title Метромолл
      p.margin-reset.metromall__capture г. Омск
      ul.list-reset.metromall__list 
        li.metromall__item
          .metromall__square
          p.metromall__descr.margin-reset Структурное остекление
        li.metromall__item
          .metromall__square
          p.metromall__descr.margin-reset фасадная система Krauss KRF-50
        li.metromall__item
          .metromall__square
          p.metromall__descr.margin-reset архитектурное стекло Guardian
        li.metromall__item 
          .metromall__square
          p.metromall__descr.margin-reset  Площадь остекления&nbsp;&mdash; 2500&nbsp;кв.м.
      img(src="../img/portfolio/pf-comobj-met-1920.webp" alt="Метромолл").metromall__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')