#cosmos-modal.modal__window.cosmos
  .cosmos__container
    img(src="../img/modal/cosmos.webp", alt="Космос").cosmos__mainimg
    .cosmos__content 
      h2.title-reset.cosmos__title Гостиница «Космос»
      p.margin-reset.cosmos__capture г. Омск
      ul.list-reset.cosmos__list 
        li.cosmos__item
          .cosmos__square
          p.cosmos__descr.margin-reset Фасадная система Schuco FWS-50
        li.cosmos__item
          .cosmos__square
          p.cosmos__descr.margin-reset архитектурное стекло Guardian
        li.cosmos__item 
          .cosmos__square
          p.cosmos__descr.margin-reset  Площадь остекления&nbsp;&mdash; 2700&nbsp;кв.м.
      img(src="../img/portfolio/pf-comobj-hotel-1920.webp" alt="Космос").cosmos__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')