#frunze-38-modal.modal__window.frunze-38
  .frunze-38__container
    img(src="../img/modal/frunze-38.webp", alt="Фрунзе-38").frunze-38__mainimg
    .frunze-38__content 
      h2.title-reset.frunze-38__title БЦ, Фрунзе, 38
      p.margin-reset.frunze-38__capture г. Омск
      ul.list-reset.frunze-38__list 
        li.frunze-38__item
          .frunze-38__square
          p.frunze-38__descr.margin-reset Фасадная система Krauss KRF-50
        li.frunze-38__item
          .frunze-38__square
          p.frunze-38__descr.margin-reset архитектурное стекло AGC
        li.frunze-38__item
          .frunze-38__square
          p.frunze-38__descr.margin-reset Площадь остекления&nbsp;&mdash; 4000&nbsp;кв.м.
      img(src="../img/portfolio/pf-comobj-bc38-1920.webp" alt="Фрунзе-38-2").frunze-38__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')