#tk-22dec-modal.modal__window.tk-22dec
  .tk-22dec__container
    img(src="../img/modal/tk-22dec.webp", alt="ТК 22 декабря").tk-22dec__mainimg
    .tk-22dec__content 
      h2.title-reset.tk-22dec__title ТК 22 декабря
      p.margin-reset.tk-22dec__capture г. Омск
      ul.list-reset.tk-22dec__list 
        li.tk-22dec__item
          .tk-22dec__square
          p.tk-22dec__descr.margin-reset Фасадная система Krauss KRF-50
        li.tk-22dec__item
          .tk-22dec__square
          p.tk-22dec__descr.margin-reset архитектурное стекло Guardian
        li.tk-22dec__item
          .tk-22dec__square
          p.tk-22dec__descr.margin-reset Площадь остекления&nbsp;&mdash; 2300&nbsp;кв.м.
      img(src="../img/portfolio/pf-comobj-tk22-1920.webp" alt="ТК 22 декабря-2").tk-22dec__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')