#tk-okay-modal.modal__window.tk-okay
  .tk-okay__container
    img(src="../img/modal/tk-okay.webp", alt="ТЦ Окей").tk-okay__mainimg
    .tk-okay__content 
      h2.title-reset.tk-okay__title ТЦ Окей
      p.margin-reset.tk-okay__capture г. Омск
      ul.list-reset.tk-okay__list 
        li.tk-okay__item
          .tk-okay__square
          p.tk-okay__descr.margin-reset Фасадная система Krauss KRF-50
        li.tk-okay__item
          .tk-okay__square
          p.tk-okay__descr.margin-reset Стекло Салаватстекло
        li.tk-okay__item
          .tk-okay__square
          p.tk-okay__descr.margin-reset  Площадь остекления&nbsp;&mdash; 1200&nbsp;кв.м.
      img(src="../img/portfolio/pf-comobj-tkok-1920.webp" alt="ТЦ Окей-2").tk-okay__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')