#kfc-modal.modal__window.kfc
  .kfc__container
    img(src="../img/modal/kfc.webp", alt="КФС").kfc__mainimg
    .kfc__content 
      h2.title-reset.kfc__title Сеть ресторанов КФС
      p.margin-reset.kfc__capture г. Омск
      ul.list-reset.kfc__list 
        li.kfc__item
          .kfc__square
          p.kfc__descr.margin-reset Фасадная система Krauss KRF-50
        li.kfc__item
          .kfc__square
          p.kfc__descr.margin-reset Стекло Салаватстекло
        li.kfc__item
          .kfc__square
          p.kfc__descr.margin-reset  Площадь остекления&nbsp;&mdash; 300&nbsp;кв.м.
      img(src="../img/portfolio/pf-comobj-kfc-1920.webp" alt="КФС-2").kfc__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')