#magnit-modal.modal__window.magnit
  .magnit__container
    img(src="../img/modal/magnit.webp", alt="Магнит").magnit__mainimg
    .magnit__content 
      h2.title-reset.magnit__title Гипермаркет "Магнит"
      p.margin-reset.magnit__capture г. Омск
      ul.list-reset.magnit__list 
        li.magnit__item
          .magnit__square
          p.magnit__descr.margin-reset Фасадная система Krauss KRF-50
        li.magnit__item
          .magnit__square
          p.magnit__descr.margin-reset Стекло Салаватстекло
        li.magnit__item
          .magnit__square
          p.magnit__descr.margin-reset  Площадь остекления&nbsp;&mdash; 900&nbsp;кв.м.
      img(src="../img/portfolio/pf-comobj-mag-1920.webp" alt="Магнит-2").magnit__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')