#univer-modal.modal__window.univer
  .univer__container
    img(src="../img/modal/univer.webp", alt="Университетский").univer__mainimg
    .univer__content 
      h2.title-reset.univer__title ЖК "Университетский"
      p.margin-reset.univer__capture г. Екатеринбург
      ul.list-reset.univer__list 
        li.univer__item
          .univer__square
          p.univer__descr.margin-reset Фасадная система Krauss KRB-35
        li.univer__item
          .univer__square
          p.univer__descr.margin-reset Окна ПВХ KRAUSS-7500
        li.univer__item
          .univer__square
          p.univer__descr.margin-reset  Площадь остекления&nbsp;&mdash; 12300&nbsp;кв.м.
      img(src="../img/portfolio/pf-liveobj-univ-1920.webp" alt="Университетский-2").univer__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')