#duckmount-modal.modal__window.duckmount
  .duckmount__container
    img(src="../img/modal/duckmount.webp", alt="ЖК Утиная Гора").duckmount__mainimg
    .duckmount__content 
      h2.title-reset.duckmount__title ЖК Утиная Гора
      p.margin-reset.duckmount__capture г. Омск
      ul.list-reset.duckmount__list 
        li.duckmount__item
          .duckmount__square
          p.duckmount__descr.margin-reset Фасадная система Krauss KRB-35
        li.duckmount__item
          .duckmount__square
          p.duckmount__descr.margin-reset Окна ПВХ KRAUSS-7500
        li.duckmount__item
          .duckmount__square
          p.duckmount__descr.margin-reset  Площадь остекления&nbsp;&mdash; 2800&nbsp;кв.м.
      img(src="../img/portfolio/pf-liveobj-duck-1920.webp" alt="ЖК Утиная Гора-2").duckmount__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')