#dom4sever-modal.modal__window.dom4sever
  .dom4sever__container
    img(src="../img/modal/dom4sever.webp", alt="Дом 4-й Северной").dom4sever__mainimg
    .dom4sever__content 
      h2.title-reset.dom4sever__title ЖК Утиная Гора
      p.margin-reset.dom4sever__capture г. Омск
      ul.list-reset.dom4sever__list 
        li.dom4sever__item
          .dom4sever__square
          p.dom4sever__descr.margin-reset Фасадная система Krauss KRB-35
        li.dom4sever__item
          .dom4sever__square
          p.dom4sever__descr.margin-reset Окна ПВХ KRAUSS-7500
        li.dom4sever__item
          .dom4sever__square
          p.dom4sever__descr.margin-reset  Площадь остекления&nbsp;&mdash; 3300&nbsp;кв.м.
      img(src="../img/portfolio/pf-liveobj-h4-1920.webp" alt="Дом 4-й Северной-2").dom4sever__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')