#tundra-modal.modal__window.tundra
  .tundra__container
    img(src="../img/modal/tundra.webp", alt="ЖК Тундровый").tundra__mainimg
    .tundra__content 
      h2.title-reset.tundra__title ЖК Тундровый
      p.margin-reset.tundra__capture г. Новый Уренгой
      ul.list-reset.tundra__list 
        li.tundra__item
          .tundra__square
          p.tundra__descr.margin-reset Теплая серия KRAUSS KRWD-71
        li.tundra__item
          .tundra__square
          p.tundra__descr.margin-reset Окна ПВХ MONTBLANC NORD
        li.tundra__item
          .tundra__square
          p.tundra__descr.margin-reset  Площадь остекления&nbsp;&mdash; 8400&nbsp;кв.м.
      img(src="../img/portfolio/pf-liveobj-tundra-1920.webp" alt="ЖК Тундровый-2").tundra__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')