#greenIsland-modal.modal__window.greenIsland
  .greenIsland__container
    img(src="../img/modal/greenIsland.webp", alt="ЖК Зеленый Остров").greenIsland__mainimg
    .greenIsland__content 
      h2.title-reset.greenIsland__title ЖК Зеленый Остров
      p.margin-reset.greenIsland__capture г. Омск
      ul.list-reset.greenIsland__list 
        li.greenIsland__item
          .greenIsland__square
          p.greenIsland__descr.margin-reset Фасадная система Krauss KRF-50
        li.greenIsland__item
          .greenIsland__square
          p.greenIsland__descr.margin-reset Стекло Guardian
        li.greenIsland__item
          .greenIsland__square
          p.greenIsland__descr.margin-reset  Площадь остекления&nbsp;&mdash; 6500&nbsp;кв.м.
      img(src="../img/portfolio/pf-curobj-gi-1920.webp" alt="ЖК Зеленый Остров-2").greenIsland__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')