#brusnika-modal.modal__window.brusnika
  .brusnika__container
    img(src="../img/modal/brusnika.webp", alt="ЖК Кварталы Драверта").brusnika__mainimg
    .brusnika__content 
      h2.title-reset.brusnika__title ЖК Кварталы Драверта
      p.margin-reset.brusnika__capture г. Омск
      ul.list-reset.brusnika__list 
        li.brusnika__item
          .brusnika__square
          p.brusnika__descr.margin-reset Фасадная система ALUTECH ALT-50
        li.brusnika__item
          .brusnika__square
          p.brusnika__descr.margin-reset окна ПВХ GEALAN S-8000
        li.brusnika__item
          .brusnika__square
          p.brusnika__descr.margin-reset Стекло Guardian
        li.brusnika__item
          .brusnika__square
          p.brusnika__descr.margin-reset  Площадь остекления&nbsp;&mdash; 5800&nbsp;кв.м.
      img(src="../img/portfolio/pf-curobj-brus-1920.webp" alt="ЖК Кварталы Драверта-2").brusnika__img
      button(type='button').btn-reset.form__closer.closer 
        span.closer__capture Закрыть
        +svg('close', 'closer')