include ./tools/_mixins

doctype html
html(lang="ru")
  include ./modules/!-head
  body
    include ./modules/1-header
    main
      include ./modules/2-hero
      include ./modules/3-products
      include ./modules/4-portfolio
      include ./modules/5-manufacture
      include ./modules/6-about-us
      include ./modules/7-advantages
      include ./modules/8-contacts
    include ./modules/9-footer
    #modal.modal.unvisible
      include ./modules/modals/10-form
      include ./modules/modals/11-privpol
      include ./modules/modals/12-luzhniki
      include ./modules/modals/13-tretyak
      include ./modules/modals/14-cadet
      include ./modules/modals/15-transnef
      include ./modules/modals/16-frunze-47
      include ./modules/modals/17-metromall
      include ./modules/modals/18-cosmos
      include ./modules/modals/19-frunze-38
      include ./modules/modals/20-tk-22dec
      include ./modules/modals/21-tk-okay
      include ./modules/modals/22-kfc
      include ./modules/modals/23-magnit
