include ./tools/_mixins

doctype html
html(lang="ru")
  include ./modules/!-head
  body
    include ./modules/1-header
    main
      include ./modules/2-hero
      include ./modules/3-products
      include ./modules/4-portfolio
      include ./modules/5-manufacture
      include ./modules/6-about-us
      include ./modules/7-advantages
      include ./modules/8-contacts
    include ./modules/9-footer
    include ./modules/10-modal-1
